<script src="https://static.sharepointonline.com/bld/_layouts/15/16.0.8929.1228/sp.requestexecutor.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Services/alasql.min.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Online/ManageSmartTaxonomy/ManageSmartMetaData.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Online/ManageSmartTaxonomy/EditSharewebSmartMetaData.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Online/ManageSmartTaxonomy/CompareMetaDataTool.js"></script>
<script type="text/javascript" src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Services/froala_editor.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Services/froala_style.min.css" />
<link rel="stylesheet" type="text/css" href="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Services/froala_editor.pkgd.min.css" />
<style>
    #pageTitle a {
        display: none !important;
    }

    #contentRow {
        padding-top: 0px !important;
        margin-top: -15px;
    }
</style>
<div ng-controller="ManageSmartMetaDataController" ng-cloak class="component componet-portfoliblue">
    <div>
        <h1 class="blue-clr">ManageSmartMetadata </h1>
    </div>

    <div class="col-sm-12 form-group padL-0 PadR0 mt-10">


        <div class="col-sm-5 PadR0 padL-0 mt-10">
            <input type="text" class="form-control searchbox_height" placeholder="Search in all relevant fields"
                   ng-model="SearchSmartMetaData.GlobalSearch">
            <span ng-show="SearchSmartMetaData.GlobalSearch.length>0" class="searchclear" ng-click="clearSearchBox('SearchSmartMetaData','GlobalSearch')">X</span>
        </div>
        <div class="col-sm-2 PadR0 mt-10">

            <label>
                Showing {{AllITemLength}} of
                {{AllSmartDataLength}} Items
            </label>

        </div>
        <div class="col-sm-1 padL-0 mt-10">
            <a data-ng-click="ClearFilters('SearchSmartMetaData')" class="hreflink serviceColor_Active ">
                Clear All <img ng-src="/_layouts/images/delete.gif">
            </a>
        </div>


        <div class="col-sm-3 padL-0 PadR0">
            <span>
                <button type="button" class="btn btn-primary" ng-click="openSmartMetaDataPopup()" title="Add SmartMetaData">
                    Add
                    <img class="button-icon" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/CreateComponentIcon.png">
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-primary" ng-disabled="compareSmartMetaData.length<2" ng-click="openCompareSmartMetaData()">
                    Compare
                    <img class="button-icon" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/CompareComponentIcon.png">
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-primary" ng-click="openRestructure()" ng-disabled="compareSmartMetaData.length==0">
                    Restructure
                </button>
            </span>

        </div>
        <div class="col-sm-1 pull-right">
            <span class="headcontainer no-padding" style="cursor:pointer;">
                <img ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/icon_excel.png" ng-click="getexportitems()" />
                <!--<img ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/icon_Printer.png" ng-click="printResults()" />-->
            </span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="divPanelBody">

        <div id="tabs" class="exTab3">
            <ul class="nav nav-pills">
                <li class="{{SetID==item?'active':''}}" ng-repeat="item in TaxTypeData">
                    <a id="{{item}}" class="hreflink" ng-click="getDataTaxType(item)">{{item}}</a>
                </li>

            </ul>
            <div class="tab-content boxhgt">
                <div class="tab-pane fade  tabheight active in" id="{{SetID}}">
                    <div id="portfolio" class="section-event pt-0">
                        <ul class="table">
                            <li class="for-lis">
                                <div style="width: 1%;">
                                    <div style="width:85%;">
                                        <a class="hreflink" ng-show="expand_collapse" ng-click="filterExpanded(SmartMetData['allSmartMetaDataItemWithStructure'])" title="Tap to expand the childs">
                                            <img style="width: 10px;" src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/right-list-icon.png">
                                        </a>
                                        <a class="hreflink" ng-show="!expand_collapse" ng-click="filterCollapsed(SmartMetData['allSmartMetaDataItemWithStructure'])" title="Tap to Shrink the childs">
                                            <img style="width: 10px;" src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/list-icon.png">
                                        </a>
                                    </div>
                                </div>
                                <div style="width: 2%;">
                                    <div style="width: 80%; ">
                                    </div>
                                </div>
                                <div style="width: 3%;">
                                    <div style="width:80%;">
                                        <span>
                                        </span>
                                    </div>

                                </div>
                                <div style="width: 6%;">
                                    <div style="width:80%;">
                                        <span>
                                        </span>
                                    </div>

                                </div>

                                <div style="width:45%;">
                                    <div style="width:95%;" class="headcontainer">
                                        <input type="search" placeholder="Title" class="searchbox_height width-90" ng-model="SearchSmartMetaData.Title">
                                        <span ng-show="SearchSmartMetaData.Title.length>0" class="searchclear" ng-click="clearSearchBox('SearchSmartMetaData','Title')">X</span>
                                        <span class="{{orderBy.orderComponent=='Title'&&!reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up" ng-click="sortBy('orderComponent','Title', false)"></span>
                                        <span class="{{orderBy.orderComponent=='Title'&&reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down" ng-click="sortBy('orderComponent','Title', true)"></span>
                                    </div>
                                </div>
                                <div style="width:14%;">
                                    <div style="width:90%;" class="displayLabel">
                                        <label class="head">SmartFilters</label>
                                    </div>
                                    <div style="width:70%" class="headcontainer">
                                        <input type="search" placeholder="SmartFilters" class="searchbox_height width-90" ng-model="SearchSmartMetaData.SmartFilters">
                                        <span ng-show="SearchSmartMetaData.SmartFilters.length>0" class="searchclear" ng-click="clearSearchBox('SearchSmartMetaData','SmartFilters')">X</span>
                                        <span class="{{orderBy.orderComponent=='SmartFilters'&&!reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up" ng-click="sortBy('orderComponent','SmartFilters', false)"></span>
                                        <span class="{{orderBy.orderComponent=='SmartFilters'&&reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down" ng-click="sortBy('orderComponent','SmartFilters', true)"></span>
                                    </div>
                                </div>
                                <div style="width:15%;">
                                    <div style="width:90%;" class="displayLabel">
                                        <label class="head">Status</label>
                                    </div>
                                    <div style="width:80%" class="headcontainer">
                                        <input type="search" placeholder="Status" class="searchbox_height width-90" ng-model="SearchSmartMetaData.Status">
                                        <span ng-show="SearchSmartMetaData.Status.length>0" class="searchclear" ng-click="clearSearchBox('SearchSmartMetaData','Status')">X</span>
                                        <span class="{{orderBy.orderComponent=='Status'&&!reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up" ng-click="sortBy('orderComponent','Status', false)"></span>
                                        <span class="{{orderBy.orderComponent=='PercentComplete'&&reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down" ng-click="sortBy('orderComponent','Status', true)"></span>
                                    </div>
                                </div>

                                <div style="width:9%;">
                                    <div style="width:90%;" class="displayLabel">
                                        <label class="head">Sort Order</label>
                                    </div>
                                    <div style="width:82%" class="headcontainer">
                                        <input type="search" placeholder="SortOrder" class="searchbox_height width-90"
                                               ng-model="SearchSmartMetaData.SortOrder" />
                                        <span ng-show="SearchSmartMetaData.SortOrder.length>0" class="searchclear"
                                              ng-click="clearSearchBox('SearchSmartMetaData','SortOrder')">X</span>
                                        <span class="{{orderBy.orderComponent=='SortOrder'&&!reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up"
                                              ng-click="sortBy('orderComponent','SortOrder', false)"></span>
                                        <span class="{{orderBy.orderComponent=='SortOrder'&&reverse.orderComponent?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down"
                                              ng-click="sortBy('orderComponent','SortOrder', true)"></span>
                                    </div>
                                </div>

                                <div style="width:3%;" class="">
                                    <a class="hreflink" title="Click here to Restructure as Component" data-toggle="modal"
                                       ng-show="SmartMetData['allSmartMetaDataItemWithStructure'][0].isRestructureActive && compareSmartMetaData[0].Item_x0020_Type!='Component'" target="_blank"
                                       ng-click="openRestructuringPopup(item)">
                                        <img class="icon-sites-img"
                                             src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Restructuring_Tool.png">
                                    </a>
                                </div>
                                <div style="width:2%;">
                                    <div style="width:2%;"></div>
                                </div>
                            </li>
                            <div class="wrapper" id="portfolio1">
                                <li ng-show="item.flag==true"
                                    class="for-lis bold {{item.expanded?'project_active tdrows':'tdrows'}} serviceColor_Active"
                                    ng-repeat-start="item in filterComponent=(SmartMetData['allSmartMetaDataItemWithStructure'] | orderBy:orderBy['orderComponent']:reverse['orderComponent']|filter:SearchSmartMetaData.GlobalSearch|filter:SearchSmartMetaData.Priority |filter:SearchSmartMetaData.Categories|filter:SearchSmartMetaData.PercentComplete|filter:SearchSmartMetaData.CompletedDate|filter:SearchSmartMetaData.ItemRank|filter:{Modified:SearchSmartMetaData.Modified})"
                                    lvl-drop-target="true" on-drop="dropped(dragSrc,item)">
                                    <div style="width:1%;" class="">
                                        <a class="hreflink" ng-show="item.childs.length>0&&!item.expanded"
                                           ng-click="item.expanded=true" title="Expand {{item.newTitle}} childs">
                                            <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/right-list-icon.png">
                                        </a>
                                        <a class="hreflink" ng-show="item.childs.length>0&&item.expanded"
                                           ng-click="item.expanded=false" title="Collapse {{item.newTitle}} childs">
                                            <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/list-icon.png">
                                        </a>
                                    </div>
                                    <div style="width:2%;" class="padLR">
                                        <div>
                                            <input type="checkbox" ng-click="setCompareSmartMetaData(item,item.select,item);"
                                                   ng-model="item.select">
                                        </div>

                                    </div>
                                    <div style="width:3%;" class="padLR">

                                    </div>
                                    <div style="width:6%;" class="padLR">
                                        <span>
                                            <a class="hreflink" title="Show All Child" data-toggle="modal"
                                               ng-show="item.childs.length>0 && item.isSearch && item.isShowActive" ng-click="showChilds(item,'','','FirstLevel')">
                                                <img class="icon-sites-img"
                                                     src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Add-New-Grey.png">
                                            </a>
                                            <a class="hreflink" title="Hide All Child" data-toggle="modal"
                                               ng-show="item.childs.length>0 && item.isSearch && item.ishideActive" ng-click="undoChilds()">
                                                <img class="icon-sites-img"
                                                     src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Minus-Gray.png">

                                            </a>
                                        </span>
                                    </div>

                                    <div style="width:45%;" class="padLR">
                                        <span>
                                            <a class="serviceColor_Active"
                                               ng-bind-html="item.Title | trustedHTML">
                                            </a>
                                            <img class="icon-sites-img" ng-show="item.isNewItem" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Service_Icons/NewItemIcon-green.png" />

                                            <a class=" serviceColor_Active"
                                               ng-click="showChilds(item,'','','FirstLevel')">
                                                <span ng-if="item.childsLength!=0"> ({{item.childsLength}})</span>
                                            </a>
                                            <span ng-show="item.Short_x0020_Description_x0020_On !=null " class="project-tool">
                                                <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/infoIcon.png" />
                                                <span class="tooltipte">
                                                    <span class="tooltiptext">
                                                        <div class="tooltip_Desc">
                                                            <span ng-bind-html="item.Short_x0020_Description_x0020_On | trustedHTML"></span>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    <div style="width:14%;" class="padLR pl-10">
                                        {{item.Categories}}
                                    </div>
                                    <div style="width:15%;" class="padLR">
                                        {{item.Status}}
                                    </div>

                                    <div style="width:9%;" class="padLR">
                                        {{item.SortOrder}}
                                    </div>
                                    <div style="width:3%;" class="padLR">
                                        <a class="hreflink" title="Restructuring Tool" data-toggle="modal"
                                           ng-show="item.isRestructureActive" target="_blank"
                                           ng-click="openRestructuringPopup(item,'IstLevel')">
                                            <img class="icon-sites-img"
                                                 src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Restructuring_Tool.png">
                                        </a>
                                    </div>
                                    <div style="width:2%;" class="icontype display_hide">
                                        <a class="hreflink" title="Edit {{item.newTitle}}" data-toggle="modal"
                                           ng-click="editSharewebSmartMetaData(item.TaxType,item)">
                                            <img class="img-focus" src="/_layouts/images/edititem.gif">
                                        </a>
                                    </div>
                                </li>
                                <li ng-if="item.expanded" class="active" ng-repeat-end>
                                    <ul class="table">
                                        <li ng-show="item.childs.length >0 && child.flag ==true "
                                            ng-repeat-start="child in filterComponent=(item.childs) | orderBy:orderBy['orderComponent']:reverse['orderComponent']" lvl-drop-target="true"
                                            on-drop="dropped(dragSrc,child)"
                                            class="for-c0l for-lis {{child.expanded?'project_actives tdrows':'tdrows'}} serviceColor_Active">
                                            <div style="width:1%;" class="">
                                                <a class="hreflink" ng-show="child.childs.length>0&&!child.expanded"
                                                   ng-click="child.expanded=true" title="Expand {{child.newTitle}} childs">
                                                    <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/right-list-icon.png">
                                                </a>
                                                <a class="hreflink" ng-show="child.childs.length>0&&child.expanded"
                                                   ng-click="child.expanded=false" title="Collapse {{child.newTitle}} childs">
                                                    <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/list-icon.png">
                                                </a>
                                            </div>
                                            <div style="width:2%;" class="padLR">
                                                <span>
                                                    <input type="checkbox" ng-click="setCompareSmartMetaData(child,child.select,item);"
                                                           ng-model="child.select">
                                                </span>

                                            </div>
                                            <div style="width:3%;" class="padLR">

                                            </div>
                                            <div style="width:6%;" class="padLR">

                                            </div>

                                            <div style="width:45%;" class="padLR">
                                                <span class="">
                                                    <a class=" serviceColor_Active"
                                                       ng-bind-html="child.Title | trustedHTML">
                                                    </a>
                                                    <img class="icon-sites-img" ng-show="child.isNewItem" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Service_Icons/NewItemIcon-green.png" />

                                                    <a class=" serviceColor_Active"
                                                       ng-click="showChilds(child,item.Id,'','SecondLevel')">
                                                        <span ng-if="child.childsLength!=0"> ({{child.childsLength}})</span>
                                                    </a>
                                                    <span ng-show="child.Short_x0020_Description_x0020_On !=null "
                                                          class="project-tool">
                                                        <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/infoIcon.png" />
                                                        <span class="tooltipte">
                                                            <span class="tooltiptext">
                                                                <div class="tooltip_Desc responsibility_tile">
                                                                    <span ng-bind-html="child.Short_x0020_Description_x0020_On | trustedHTML"></span>
                                                                </div>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>

                                            </div>
                                            <div style="width:14%;" class="padLR pl-10">
                                                {{child.Categories}}
                                            </div>
                                            <div style="width:15%;" class="padLR">
                                                {{child.Status}}
                                            </div>

                                            <div style="width:9%;" class="padLR">
                                                {{child.SortOrder}}
                                            </div>
                                            <div style="width:3%;" class="padLR">
                                                <a class="hreflink" title="Restructuring Tool" data-toggle="modal"
                                                   ng-show="child.isRestructureActive" target="_blank"
                                                   ng-click="openRestructuringPopup(child,'IIndLevel')">
                                                    <img class="icon-sites-img"
                                                         src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Restructuring_Tool.png">
                                                </a>
                                            </div>
                                            <div style="width:2%;" class="icontype display_hide">
                                                <a class="hreflink" title="Edit {{child.newTitle}}" data-toggle="modal"
                                                   ng-click="editSharewebSmartMetaData(child.TaxType,child,item)">
                                                    <img class="img-focus" src="/_layouts/images/edititem.gif">
                                                </a>
                                            </div>
                                        </li>
                                        <li ng-show="child.expanded " class=" active" ng-repeat-end>
                                            <ul class="table">
                                                <li ng-show="subchild.flag==true" ng-repeat="subchild in filterComponent=(child.childs) | orderBy:orderBy['orderComponent']:reverse['orderComponent']"
                                                    lvl-drop-target="true" on-drop="dropped(dragSrc,subchild)"
                                                    class="for-lis for-c02 {{subchild.expanded?'project_activess tdrows':'tdrows'}} serviceColor_Active">
                                                    <div style="width:1%;" class="">
                                                        <a class="hreflink"
                                                           ng-show="subchild.childs.length>0&&!subchild.expanded"
                                                           ng-click="subchild.expanded=true"
                                                           title="Expand {{subchild.newTitle}} childs">
                                                            <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/right-list-icon.png">
                                                        </a>
                                                        <a class="hreflink"
                                                           ng-show="subchild.childs.length>0&&subchild.expanded"
                                                           ng-click="subchild.expanded=false"
                                                           title="Collapse {{subchild.newTitle}} childs">
                                                            <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/list-icon.png">
                                                        </a>
                                                    </div>
                                                    <div style="width:2%;" class="padLR">
                                                        <span class="">
                                                            <input type="checkbox"
                                                                   ng-click="setCompareSmartMetaData(subchild,subchild.select,item,'LastLevel');"
                                                                   ng-model="subchild.select">
                                                        </span>

                                                    </div>
                                                    <div style="width:3%;" class="padLR">

                                                    </div>
                                                    <div style="width:6%;" class="padLR">
                                                    </div>

                                                    <div style="width:45%;" class="padLR">
                                                        <span class="serviceColor_Active">
                                                            <a class=""
                                                               ng-bind-html="subchild.Title | trustedHTML">
                                                            </a>
                                                            <img class="icon-sites-img" ng-show="subchild.isNewItem" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Service_Icons/NewItemIcon-green.png" />

                                                            <a class=""
                                                               ng-click="showChilds(subchild,item.Id,child.Id,'ThirdLevel')">
                                                                <span ng-if="subchild.childs.length>0">
                                                                    ({{subchild.childs.length}})
                                                                </span>
                                                            </a>
                                                            <span ng-show="subchild.Short_x0020_Description_x0020_On !=null "
                                                                  class="project-tool">
                                                                <img src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/24/infoIcon.png" />
                                                                <span class="tooltipte">
                                                                    <span class="tooltiptext">
                                                                        <div class="tooltip_Desc">
                                                                            <span ng-bind-html="subchild.Short_x0020_Description_x0020_On | trustedHTML"></span>
                                                                        </div>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>

                                                    </div>
                                                    <div style="width:14%;" class="padLR">
                                                        {{subchild.Categories}}
                                                    </div>
                                                    <div style="width:15%;" class="padLR">
                                                        {{subchild.Status}}
                                                    </div>

                                                    <div style="width:9%;" class="padLR">
                                                        {{subchild.SortOrder}}
                                                    </div>
                                                    <div style="width:3%;" class="padLR">

                                                    </div>
                                                    <div class="icontype display_hide" style="width:2%;">
                                                        <a class="hreflink" title="Edit {{subchild.newTitle}}" data-toggle="modal"
                                                           ng-click="editSharewebSmartMetaData(subchild.TaxType,subchild,child,item)">
                                                            <img class="img-focus" src="/_layouts/images/edititem.gif">
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                            </div>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>





    <!--------------------------------------------------------->
    <div id="changeViewPopup" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content panel panel-default">
                <ng-form name="createContactForm" novalidate role="form">
                    <div class="panel-title">
                        <h3>
                            Select Task Type
                            <button type="button" class="close" ng-click="cancelChangeViewpopup()"
                                    style="min-width: 10px;">
                                &times;
                            </button>
                            <span>
                                <page-settings-info webpartid="'sharewebSelectItemTypePopup'"></page-settings-info>
                            </span>

                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12 tab-content bdrbox">
                            <div class="col-sm-12 Doc-align mt-5 padL-0 pull-right">
                                <a class="hreflink " ng-click="clearChangeViewfilter()">
                                    Clear All Selected <img ng-src="/_layouts/images/delete.gif" src="/_layouts/images/delete.gif">
                                </a>
                            </div>
                            <div class="panel-padding">
                                <div class=" col-sm-12 Doc-align" ng-repeat="item in ItemsType">
                                    <input type="checkbox" name="SelectFilterType" class="radio-inline"
                                           ng-checked="item.SelectFilterType ==true"
                                           ng-click="checkedItem(item,SelectFilterType)" ng-model="SelectFilterType">
                                    {{item.Title}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class=" pull-right">
                            <span>
                                <button type="button" class="btn btn-primary" ng-click="Advancefilter()">Submit</button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-default"
                                        ng-click="cancelChangeViewpopup()">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>

    <div class="modal" id="CreateChildpoup" role="dialog" style="display:none;">
        <div class="modal-dialog modal-md">
            <div class="panel panel-default">
                <div class="panel-title">
                    <button type="button" style="min-width:10px;" class="close"
                            ng-click="cancelopenCreateItem('CreateChildpoup');">
                        &times;
                    </button>
                    <span>
                        <page-settings-info webpartid="'sharewebCreateChildItemPopup'"></page-settings-info>
                    </span>
                    <h3>
                        {{createChildItem.newTitle}} - Create Child Item

                    </h3>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 tab-content bdrbox">
                        <div class="col-sm-12">
                            <div class="col-sm-12 form-group padL-0 PadR0" ng-repeat-start="item in ChildItemTitle">
                                <label class="col-sm-10 mb-5 mt-10  titleclrgreen col-sm-offset-1 padL-0">Title</label>
                                <div class="col-sm-12 padL-0">
                                    <div class="col-sm-1 PadR0 mtop5">
                                    </div>
                                    <div class="col-sm-10 padL-0 PadR0">
                                        <input class="form-control full_width mb-10" type="text" ng-model="item.Title"
                                               placeholder="Enter Child Item Title" ng-required="true">
                                    </div>

                                    <div class="col-sm-1 padL-0">
                                        <a ng-show="ChildItemTitle.length>1 && $index!=0 " style="cursor:pointer;" title="Delete" data-toggle="modal" ng-click="RemoveFeedbackColumn(ChildItemTitle,$index,'')">
                                            <img class="" ng-src="/_layouts/images/delete.gif">
                                        </a>
                                    </div>
                                    <div class="clearfix">
                                    </div>

                                </div>
                                <div class="col-sm-12 mb-20 padL-0 PadR0">
                                    <div class="col-sm-12 padL-0" ng-repeat="items in item.Child">
                                        <div class="col-sm-12">
                                            <label class="col-sm-5 mb-5  titleclrgreen"
                                                   style="padding-right: 1px;padding-left: 26px;">Description</label>
                                        </div>
                                        <div class="col-sm-1 PadR0 mtop5">
                                        </div>

                                        <div class="col-sm-10 padL-0 PadR0">
                                            <textarea rows="4" ng-model="item.Description"></textarea>
                                        </div>
                                        <div class="col-sm-1 padL-0">
                                            <a style="cursor:pointer;" title="Delete" data-toggle="modal"
                                               ng-click="RemoveFeedbackColumn(ChildItemTitle,item.Id,'Description')">
                                                <img class="" ng-src="/_layouts/images/delete.gif">
                                            </a>
                                        </div>
                                        <div class="clearfix">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div ng-repeat-end></div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="hreflink pull-left" ng-click="addNewTextField()">
                        <img class="icon-sites-img" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/Shareweb/Add-New.png" />
                        Add more child items
                    </a>
                    <button type="button" class="btn btn-primary" ng-if="ChildItemTitle.length==1"
                            ng-click="createChildItems('CreatePopup');"
                            ng-disabled="ChildItemTitle[0].Title=='' ">
                        Create & Open Popup
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="createChildItems('Create');"
                            ng-disabled="ChildItemTitle[0].Title=='' ">
                        Create
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="CreateSmartMetaData" role="dialog" style="display:none;">
        <div class="modal-dialog modal-md">
            <div class="panel panel-default">
                <div class="panel-title">
                    <button type="button" style="min-width:10px;" class="close mt-5 ml-4"
                            ng-click="cancelopenCreateItem('CreateSmartMetaData');">
                        &times;
                    </button>

                    <h3>
                        Create SmartMetaData
                        <span class="pull-right">
                            <page-settings-info webpartid="'createNewSmartMetadata'"></page-settings-info>
                        </span>
                    </h3>
                </div>
                <div class="modal-body ">
                    <div class="col-sm-12 tab-content bdrbox">
                        <div class="col-sm-12 padL-0">
                            <div class="col-sm-12 form-group padL-0 PadR0">
                                <div class="col-sm-1 PadR0 mtop5">
                                </div>
                                <div class="col-sm-10 padL-0 ">
                                    <label class="col-sm-6 mb-5 mt-10 padL-0">Title</label>
                                    <input class="form-control full_width" type="text" ng-model="SmartMetaDataTitle"
                                           placeholder="Enter Component Title..." ng-required="true">
                                    <span class="searchclear" style="top:47px;" ng-click="clearControl()">X</span>
                                </div>
                                <div class="col-sm-1 ">
                                </div>
                            </div>
                            <!--<div class="col-sm-12 form-group padL-0 PadR0">
                                <label class="col-sm-6 mb-5 mt-10 padL-0">Tax Type</label>
                                <select class="form-control" id="ItemRankType" ng-model="MainTaxType">
                                    <option value="">Select TaxType</option>
                                    <option ng-repeat="item in TaxTypeData" value="{{item}}">{{item}}</option>
                                </select>
                            </div>-->
                            <div ng-show="showdes==true;" class="col-sm-12 mb-20 padL-0 PadR0">
                                <div class="col-sm-12 padL-0">
                                    <div class="col-sm-12">
                                        <label class="col-sm-5 mb-5  titleclrgreen"
                                               style="padding-right: 1px;padding-left: 26px;">Description</label>
                                    </div>
                                    <div class="col-sm-1 PadR0 mtop5">
                                    </div>

                                    <div class="col-sm-10 padL-0 PadR0">
                                        <textarea rows="4" ng-model="smartdescription"></textarea>
                                    </div>
                                    <div class="col-sm-1 padL-0">
                                        <a style="cursor:pointer;" title="Delete" data-toggle="modal"
                                           ng-click="RemoveFeedbackColumnn(showdes)">
                                            <img class="" ng-src="/_layouts/images/delete.gif">
                                        </a>
                                    </div>
                                    <div class="clearfix">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createSmartMetaData('CreatePopup');"
                            ng-disabled="SmartMetaDataTitle==undefined ">
                        Create & Open Popup
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="createSmartMetaData('Create');"
                            ng-disabled="SmartMetaDataTitle==undefined ">
                        Create
                    </button>

                </div>

            </div>
        </div>
    </div>

    <div id="SelectionData" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancelopenCreateItem('SelectionData')"
                            style="min-width: 10px;">
                        &times;
                    </button>
                    <span>
                        <page-settings-info webpartid="'sharewebSelectedItemsPopup'"></page-settings-info>
                    </span>
                    <h4 class="modal-title">
                        Selected Items

                    </h4>
                </div>
                <div class="modal-body ">
                    <div class="col-sm-12">
                        <div class="col-sm-12 padL-0 PadR0 tab-content bdrbox">
                            <div class="divPanelBody mt-10 mb-10  col-sm-12">
                                <div id="portfolio" class="section-event pt-0">
                                    <ul class="table">
                                        <li class="for-lis">
                                            <span ng-show="isCreatePopup ||isCreateActivity">
                                                <span class="large-bold" ng-bind-html="GetColumnDetails('Add Button') | trustedHTML">
                                                </span>
                                            </span>
                                            <span ng-show="isComparePopup">
                                                <span class="large-bold" ng-bind-html="GetColumnDetails('Compare Button') | trustedHTML">
                                                </span>
                                            </span>

                                        </li>
                                        <li class="for-lis  tdrows"
                                            ng-repeat="item in SelectedDataItem track by $index"
                                            lvl-drop-target="true" on-drop="dropped(dragSrc,item)">
                                            <div style="width:4%;" class="padLR">
                                                <input type="checkbox" ng-click="selectdeselectItems(item);" ng-model="item.select" value="" name="chkSelected" />
                                            </div>
                                            <div style="width:7%;" class="padLR">
                                                <span>

                                                </span>
                                            </div>
                                            <div style="width:45%;" class="padLR">
                                                <span>
                                                    <a class="hreflink" ng-bind-html="item.Title">
                                                    </a>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-show="isComparePopup" type="button" class="btn btn-primary mt-10" ng-disabled="compareSmartMetaData.length!=2" ng-click="submitforCompareComponentsPopup()">Submit</button>
                    <button ng-show="isCreatePopup" type="button" class="btn btn-primary mt-10" ng-disabled="compareSmartMetaData.length!=1" ng-click="openSmartMetaDataPopup()">Submit</button>
                    <button ng-show="isCreateActivity" type="button" class="btn btn-primary mt-10" ng-disabled="compareSmartMetaData.length!=1" ng-click="CreateActivity()">Submit</button>
                    <button type="button" class="mt-10" ng-click="cancelopenCreateItem('SelectionData')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="RestructuringPopup" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancelopenCreateItem('RestructuringPopup')"
                            style="min-width: 10px;">
                        &times;
                    </button>
                    <span>
                        <page-settings-info webpartid="'sharewebRestructuringToolPopup'"></page-settings-info>
                    </span>
                    <h3 class="modal-title">
                        <a class="font_bold_size" target="_blank" ng-href="https://hhhhteams.sharepoint.com/sites/HHHHTeams/sp/SitePages/Portfolio-Profile.aspx?taskId={{SelectedParentComponet[0].Id}}">
                            <span ng-bind-html="parentRestructuring.newTitle"></span>
                        </a>
                        - Restructuring Tool

                    </h3>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 tab-content bdrbox">
                        <div class="divPanelBody mt-10 mb-10  col-sm-12 padL-0 PadR0">
                            <span ng-show="changetoTaxType==undefined" class="bold">
                                All below selected items will be added as SubComponent/Feature inside {{parentRestructuring.newTitle}}
                            </span>
                            <span ng-show="changetoTaxType!=undefined" class="bold">
                                All below selected items will be added as {{changetoTaxType}} inside {{parentRestructuring.newTitle}}
                            </span>
                            <div class="col-sm-12 padL-0 mt-10">
                                <div class="col-sm-12 mt-5 padL-0" ng-repeat="item in SelectedDataItem">
                                    <input type="checkbox" ng-click="selectdeselectItems(item);" ng-model="item.select" value="" name="chkResSelected" />
                                    <span ng-bind-html="item.newTitle"></span>
                                </div>
                            </div>
                            <!--<div class="col-sm-12 PadR0 padL-0 mt-10" ng-hide="parentRestructuring.Item_x0020_Type=='SubComponent'">
                                <div class="col-sm-4 PadR0 padL-0">
                                    <label>Select Component Type :</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="col-sm-6 padL-0 PadR0">
                                        <input type="radio"
                                               name="checked" ng-model="changetoTaxType" value="SubComponent" ng-click="Checkversion('SubComponent')" />
                                        <label>SubComponent</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="radio"
                                               name="checked" ng-model="changetoTaxType" value="Feature" ng-click="Checkversion('Feature')" />
                                        <label>Feature</label>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mt-10" ng-click="saveRestructuringData()" ng-disabled="compareSmartMetaData.length==0">Submit</button>
                    <button type="button" class="mt-10" ng-click="cancelopenCreateItem('RestructuringPopup')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="RestructuringPopupForComponent" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancelopenCreateItem('RestructuringPopupForComponent')"
                            style="min-width: 10px;">
                        &times;
                    </button>
                    <span>
                        <page-settings-info webpartid="'sharewebRestructuringToolPopup'"></page-settings-info>
                    </span>
                    <h3 class="modal-title">
                        Restructuring Tool

                    </h3>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 tab-content bdrbox">
                        <div class="divPanelBody mt-10 mb-10  col-sm-12 padL-0 PadR0">

                            <div class="col-sm-12 padL-0 mt-10">
                                <span class="bold">All below selected items will be upgraded as Main Parent please click Submit to continue.</span>
                                <div class="col-sm-12 mt-5 padL-0" ng-repeat="item in SelectedDataItem">
                                    <input type="checkbox" ng-click="selectdeselectItems(item);" ng-model="item.select" value="" name="chkReSelected" />
                                    <span ng-bind-html="item.newTitle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mt-10" ng-click="saveRestructuringData()" ng-disabled="compareSmartMetaData.length==0">Submit</button>
                    <button type="button" class="mt-10" ng-click="cancelopenCreateItem('RestructuringPopupForComponent')">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------------------->
</div>
